@import "tailwindcss";

body{
    background: #000;
}
body::-webkit-scrollbar {
  width: 12px;       
  height: 0px;     
}

body::-webkit-scrollbar {
    scrollbar-width: auto;
    scrollbar-color: #494949 rgba(0, 0, 0, 0) ;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.2);
  border-radius: 10px;
  margin-top: 2px;
}
body-webkit-scrollbar-corner {
  background-color: transparent;
  border-radius: 10px;
  min-height: 8px;
}




.hide-vertical::-webkit-scrollbar {
  width: 0px;       
  height: 12px;     
}


.hide-vertical::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.2);
  border-radius: 10px;
  min-height: 8px;
}

.hide-vertical::-webkit-scrollbar-corner {
  background-color: transparent;
  border-radius: 10px;
  min-height: 8px;
}